.btn {
    /* Add some space to the right of each button (so they don't touch) */
    margin-right: 10px;
    /* Add some space around the text inside the button */
    padding: 8px 15px;

    color: white;
    background-color: #3498db;

    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 14px;

    border: none;
    /* rounded corners */
    border-radius: 5px;
}

/* Style differently when mouse is hovering over button */
.btn:hover {
    background-color: #3cb0fd;
    /* change the mouse cursor */
    cursor: pointer;
}

.btn.gray {
    background-color: #737373;
}

.btn.gray:hover {
    background-color: #8c8c8c;
}
